.root {
    -fx-font-size: 15pt;
    -fx-font-family: "Georgia";
    -fx-base: rgb(132, 145, 47);
    -fx-background-color: #b7deae;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: #4abedd;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: #fe9aaa;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Georgia";
    -fx-text-fill: black;
    -fx-opacity: .8;
}

.slider .track{
    -fx-background-color: linear-gradient(to right, #3a3a3a 20, #006464 20);

}
.slider .thumb{
    -fx-background-color: #dcc6d1;
}

#choose-another:pressed{
    -fx-background-color: yellow;
}

